streamlit
langchain_groq
#langchain-google-genai
langchain-core
langchain-community
langchain-huggingface
pymupdf

# --- Vector Database & Embeddings ---
supabase
sentence-transformers
flashrank

# --- Vector Database & Embeddings ---
faiss-cpu
sentence-transformers
huggingface-hub
