streamlit
langchain-google-genai
langchain-core
langchain-community
langchain-huggingface
supabase
pymupdf

# --- Vector Database & Embeddings ---
supabase
sentence-transformers
torch
torchvision



# --- Vector Database & Embeddings ---
faiss-cpu
sentence-transformers
huggingface-hub
